{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="week-0">Semana 0 <small class="text-muted">Scratch</small></h1>

<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/4zy0z5W0-w4?screen=BM5yvg_UJ-g"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0.mp3">Audio</a></li>
      <li data-marker="*"><a href="{{ url_for('cs50x.anotacoes.anotacoes0') }}">Notes</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/1X3AMSenwZGSE6WxGpzoALAfMg2hmh1LYIJp3N2a1EYI/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/0/lecture0.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Source Code
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/0/src0/">Index</a></li>
          <li data-marker="*"><a href="https://scratch.mit.edu/studios/30233348/">Studio</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/0/src0.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lang/en/lecture0.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lang/en/lecture0.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/gMfBHd_i4aU?screen=jvsyxRsfYk4">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/4zy0z5W0-w4?screen=BM5yvg_UJ-g">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/0/lecture0-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/1tnj3UCkuxU">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/4zy0z5W0-w4">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas0') }}">Problem Set 0</a></li>
</ul>

{% endblock %}