{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="week-1">Semana 1 <small class="text-muted">Linguagem C</small></h1>


<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/Na2wiHOnzXU?screen=sqgyiZCQ6Y8"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1.mp3">Audio</a></li>
      <li data-marker="*"><a href="{{ url_for('cs50x.anotacoes.anotacoes1') }}">Anotações</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/1mRIN6EDK92NJJlazpFfBNKhxrAQUUxJOJW0UH7knS0g/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/1/lecture1.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Código Fonte
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/1/src1/">Index</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/1/src1.pdf">PDF</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/1/src1.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lang/en/lecture1.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lang/en/lecture1.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/URrzmoIyqLw?screen=jHZVEq21njk">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/Na2wiHOnzXU?screen=sqgyiZCQ6Y8">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/1/lecture1-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/URrzmoIyqLw">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/Na2wiHOnzXU">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="-">Shorts
    <ol>
      <li><a href="../../shorts/data_types/">Data Types</a></li>
      <li><a href="../../shorts/operators/">Operators</a></li>
      <li><a href="../../shorts/conditional_statements/">Conditional Statements</a></li>
      <li><a href="../../shorts/loops/">Loops</a></li>
      <li><a href="../../shorts/command_line/">Command Line</a></li>
    </ol>
  </li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas1') }}">Problem Set 1</a></li>
</ul>

{% endblock %}