{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="week-2">Semana 2 <small class="text-muted">Vetores</small></h1>


<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/xC3BZa1pcsY?screen=WJWORWQQJDA"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2.mp3">Audio</a></li>
      <li data-marker="*"><a href="{{ url_for('cs50x.anotacoes.anotacoes2') }}">Anotações</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/1O-Ft7NJln0OYA8veKHDhTurnHrYN67TMaBaTskESnkg/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/2/lecture2.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Source Code
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/2/src2/">Index</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/2/src2.pdf">PDF</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/2/src2.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lang/en/lecture2.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lang/en/lecture2.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/v_luodP_mfE?screen=BrpBDxLmzO4">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/xC3BZa1pcsY?screen=WJWORWQQJDA">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/2/lecture2-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/v_luodP_mfE">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/xC3BZa1pcsY">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="-">Shorts
    <ol>
      <li><a href="../../shorts/functions/">Functions</a></li>
      <li><a href="../../shorts/variables_and_scope/">Variables and Scope</a></li>
      <li><a href="../../shorts/debugging_step_through/">Debugging (“Step through”)</a></li>
      <li><a href="../../shorts/debugging_step_into/">Debugging (“Step into”)</a></li>
      <li><a href="../../shorts/arrays/">Arrays</a></li>
      <li><a href="../../shorts/command_line_arguments/">Command Line Arguments</a></li>
    </ol>
  </li>
  <li data-marker="*"><a href="../../labs/2/">Lab 2</a></li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas2') }}">Problem Set 2</a></li>
</ul>


{% endblock %}