{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="week-3">Semana 3 <small class="text-muted">Algoritmos</small></h1>

<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/EXnHX-6voug?screen=MSgHcrcYnOU"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3.mp3">Audio</a></li>
      <li data-marker="+">Demos
        <ul>
          <li data-marker="*"><a href="https://www.cs.usfca.edu/~galles/visualization/ComparisonSort.html">Comparison Sorting Algorithms</a></li>
          <li data-marker="*"><a href="https://www.youtube.com/watch?v=ZZuD6iUe3Pc">Visualization and Comparison of Sorting Algorithms</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="../../notes/3/">Notes</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/1yIBqjBlJMr_lS7NjADY8Fz0D9hIoy-EJG0dZB7pBPj0/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/3/lecture3.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Source Code
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/3/src3/">Index</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/3/src3.pdf">PDF</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/3/src3.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lang/en/lecture3.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lang/en/lecture3.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/yb0PY3LX2x8?screen=3th47AX0s7Q">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/EXnHX-6voug?screen=MSgHcrcYnOU">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/3/lecture3-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/yb0PY3LX2x8">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/EXnHX-6voug">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="-">Shorts
    <ol>
      <li><a href="../../shorts/linear_search/">Linear Search</a></li>
      <li><a href="../../shorts/binary_search/">Binary Search</a></li>
      <li><a href="../../shorts/bubble_sort/">Bubble Sort</a></li>
      <li><a href="../../shorts/selection_sort/">Selection Sort</a></li>
      <li><a href="../../shorts/recursion/">Recursion</a></li>
      <li><a href="../../shorts/merge_sort/">Merge Sort</a></li>
    </ol>
  </li>
  <li data-marker="*"><a href="../../labs/3/">Lab 3</a></li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas3') }}">Problem Set 3</a></li>
</ul>



{% endblock %}