{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="week-6">Semana 6 <small class="text-muted">Python</small></h1>


<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/k9RO-eEF9xo?screen=iBbLFmDx1js"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6.mp3">Audio</a></li>
      <li data-marker="*"><a href="../../notes/6/">Notes</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/1xn8FXxuwsahtTN_EhVDprDQIyMIkoJNA3a6lXXSo2CE/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/6/lecture6.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Source Code
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/6/src6/">Index</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/6/src6.pdf">PDF</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/6/src6.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lang/en/lecture6.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lang/en/lecture6.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/ky-24RvI57s?screen=CXEKQwvB_iQ">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/k9RO-eEF9xo?screen=iBbLFmDx1js">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/6/lecture6-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/ky-24RvI57s">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/k9RO-eEF9xo">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="-">Shorts
    <ol>
      <li><a href="../../shorts/python/">Python</a></li>
    </ol>
  </li>
  <li data-marker="*"><a href="../../labs/6/">Lab 6</a></li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas6') }}">Problem Set 6</a></li>
</ul>


{% endblock %}