{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="week-9">Semana 9 <small class="text-muted">Flask</small></h1>

<iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="border" data-video="" src="https://video.cs50.io/mlRlDFAyPtE?screen=TONkA305OP4"></iframe>

<ul>
  <li data-marker="-">Lecture
    <ul>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9.mp3">Audio</a></li>
      <li data-marker="*"><a href="../../notes/9/">Notes</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="https://docs.google.com/presentation/d/18UnHKr7BFXtkbSFxOYyO1UpIvYwFhRNEYVPOk_NDX0Q/edit?usp=sharing">Google Slides</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/9/lecture9.pdf">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Source Code
        <ul>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/9/src9/">Index</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/9/src9.pdf">PDF</a></li>
          <li data-marker="*"><a href="https://cdn.cs50.net/2021/fall/lectures/9/src9.zip">Zip</a></li>
        </ul>
      </li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lang/en/lecture9.srt">Subtitles</a></li>
      <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lang/en/lecture9.txt">Transcript</a></li>
      <li data-marker="+">Video
        <ul>
          <li data-marker="+">CS50 Video Player
            <ul>
              <li data-marker="*"><a href="https://video.cs50.io/CUIK3tKNH5E?screen=3s8RW32B5DQ">HDR</a></li>
              <li data-marker="*"><a href="https://video.cs50.io/mlRlDFAyPtE?screen=TONkA305OP4">SDR</a></li>
            </ul>
          </li>
          <li data-marker="+">MP4
            <ul>
              <li data-marker="+">HDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9-4k-hdr.mp4">4K</a></li>
                </ul>
              </li>
              <li data-marker="+">SDR
                <ul>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9-360p.mp4">360p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9-720p.mp4">720p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9-1080p.mp4">1080p</a></li>
                  <li data-marker="*"><a href="http://cdn.cs50.net/2021/fall/lectures/9/lecture9-4k.mp4">4K</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li data-marker="+">YouTube
            <ul>
              <li data-marker="*"><a href="https://youtu.be/CUIK3tKNH5E">HDR</a></li>
              <li data-marker="*"><a href="https://youtu.be/mlRlDFAyPtE">SDR</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li data-marker="-">Shorts
    <ol>
      <li><a href="../../shorts/flask/">Flask</a></li>
      <li><a href="../../shorts/ajax/">Ajax</a></li>
    </ol>
  </li>
  <li data-marker="*"><a href="../../labs/9/">Lab 9</a></li>
  <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas9') }}">Problem Set 9</a></li>
</ul>



{% endblock %}