{% extends 'layout.html' %}

{% block conteudo %}

<h1 id="weeks"><a data-id="" href="https://cs50.harvard.edu/summer/2020/weeks/#weeks">Weeks</a></h1>

<ol start="0">
    <li><a href="https://cs50.harvard.edu/summer/2020/weeks/0">Scratch</a></li>
    <li><a href="https://cs50.harvard.edu/summer/2020/weeks/1">C</a></li>
    <li><a href="https://cs50.harvard.edu/summer/2020/weeks/2">Arrays</a></li>
    <li>Algorithms</li>
    <li>Memory</li>
    <li>Data Structures</li>
    <li>Python</li>
    <li>SQL</li>
    <li>Privacy</li>
</ol>

{% endblock %}