<aside class="col-md">
 
    <header>
        <h1 data-id="this-is-cs50">
            <a href="{{ url_for('cs50x.index') }}">Este é o CS50x</a>
        </h1>

        <p><a href="https://cs50.harvard.edu/">O curso da Universidade de Harvard em Português!</a><br>2021</p>
    </header>

    <button aria-controls="nav" aria-expanded="false" class="btn btn-sm collapsed d-md-none" data-target="aside &gt; nav" data-toggle="collapse">
        Menu
    </button>

    <nav class="collapse d-md-block" id="nav">
    
        <hr>

        <ul class="fa-ul">
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana0') }}">Semana 0</a> Scratch <strong class="text-white">😺</strong>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana1') }}">Semana 1</a> Linguagem C
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana2') }}">Semana 2</a> Vetores
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana3') }}">Semana 3</a> Algoritmos
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana4') }}">Semana 4</a> Memória <strong class="text-white">🧠</strong>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana5') }}">Semana 5</a> Estruturas de Dados
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana6') }}">Semana 6</a> Python <strong class="text-white">🐍</strong>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana7') }}">Semana 7</a> SQL
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.semanas.semana8') }}">Semana 8</a> Informação
            </li>
        </ul>
                                
        <ul>
            <li data-marker="*">
                <a href="{{ url_for('cs50x.especializacoes') }}">Especializações</a>
            </li>
            <li data-marker="*">
                <a href="{{ url_for('cs50x.projeto_final') }}">Projeto Final</a>
            </li>
        </ul>

        <hr>

        <ul class="fa-ul">
            <li data-marker="*" class="small">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="guia.pdf">Guia Rápido de Inicialização</a>
            </li>
        </ul>

        <hr>

        <ul class="fa-ul">
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.perguntas_frequentes') }}">Perguntas Frequentes</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.tutorias') }}">Tutorias</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.problemas.problemas') }}">Listas de Problemas</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.secoes') }}">Seções</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.equipe') }}">Equipe</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="{{ url_for('cs50x.curriculo') }}">Currículo do Curso</a>
            </li>
        </ul>

        <hr>

        <ul class="small fa-ul">
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="https://ide.cs50.io/">CS50 IDE</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="https://sqlitebrowser.org/">Navegador de Banco de Dados para o SQLite</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="https://man.cs50.io/">Manual CS50</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="https://docs.python.org/3.7/search.html">Documentação Python</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="https://stackoverflow.com/search">Stack Overflow</a>
            </li>
            <li data-marker="*">
                <span class="fa-li"><i class="fas fa-circle"></i></span>
                <a href="guiadeestilo">Guia de Estilo</a>
            </li>
        </ul>

        <hr>

        <p style="font-size: initial">
            <a href="{{ url_for('cs50x.obrigado') }}">Agradecemos</a> à todos os ex-alunos e amigos do CS50
        </p>
    </nav>

    <footer></footer>
</aside>
