{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="week-1">Semana 8</h1>

<div class="border embed-responsive embed-responsive-16by9" data-video="">
    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="embed-responsive-item" src="https://video.cs50.io/e9Eds2Rc_x8?screen=ClQXfUurzgU"></iframe>
</div>

<ul>
  <li data-marker="-">Aula
    <ul>
      <li data-marker="*"><a href="">Vídeo</a></li>
      <li data-marker="*"><a href="">Áudio</a></li>
      <li data-marker="*"><a href="../anotacoes/7">Anotações</a></li>
      <li data-marker="+">Slides
        <ul>
          <li data-marker="*"><a href="">Google Slides</a></li>
          <li data-marker="*"><a href="">PDF</a></li>
        </ul>
      </li>
      <li data-marker="+">Código Fonte
        <ul>
          <li data-marker="*"><a href="">PDF</a></li>
          <li data-marker="*"><a href="">Zip</a></li>
        </ul>
      </li>
      
    </ul>
  </li>
  <li data-marker="*"><a href="../especializacoes">Lista de Problemas 8 (Escolha sua Especialização)</a></li>
</ul>


{% endblock %}