{% extends 'layout.html' %}


{% block conteudo %}

<h1 id="problem-sets">Problem Sets</h1>

<ul>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas0') }}">Lista de Problemas 0</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas1') }}">Lista de Problemas 1</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas2') }}">Lista de Problemas 2</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas3') }}">Lista de Problemas 3</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas4') }}">Lista de Problemas 4</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas5') }}">Lista de Problemas 5</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas6') }}">Lista de Problemas 6</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas7') }}">Lista de Problemas 7</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas8') }}">Lista de Problemas 8</a></li>
    <li data-marker="*"><a href="{{ url_for('cs50x.problemas.problemas9') }}">Lista de Problemas 9</a></li>
</ul>

{% endblock %}



