{% extends 'layout.html' %}

{% block conteudo %}


<h1 id="tracks">Especializações</h1>

<div class="alert" data-alert="warning" role="alert">
  <p>A carga de trabalho de cada especialização é equivalente ao de duas listas de problemas, portanto planeje-se para investir duas semanas na especialização da sua preferência.</p>
</div>

<h2 id="what-to-do">O que fazer</h2>

<p>Envie uma das opções:</p>

<ul>
  <li data-marker="*"><a href="especializacoes/web/">Desenvolvimento Web</a></li>
  <li data-marker="*"><a href="especializacoes/jogos/">Desenvolvimento de Jogos</a></li>
</ul>

<h2 id="when-to-do-it">Quando enviar</h2>

<p>Até às 23:59 horas de 31 de Dezembro de 2020.</p>

{% endblock %}