{% extends 'layout.html' %}

{% block conteudo %}
    <h1>Início</h1>

    
    <h1 id="announcements"><a data-id="" href="#anuncios">Anúncios</a></h1>

    <p>Sejam bem-vindos ao site em construção do CS50 em Português!</p>
    
    <p>Através do nosso <a href="https://github.com/cs50emportugues/cs50emportugues.github.io">repositório</a> no GitHub, e este site em construção, vamos coordenar a tradução do CS50 em Português de maneira cooperativa!</p>
    
    <p class="ml-5">Para sugestões, dúvidas ou perguntas, envie um e-mail para cs50xemportugues@gmail.com.</p>
    
    <!--
    <p>Mande um email para cs50emportugues@gmail.com caso você queira se encarregar de traduzir um item da lista acima. Recomendo que você se ofereça a traduzir apenas 1 (um) item antes de se oferecer para traduzir outro, dessa forma você não ficará sobrecarregado e outros membros da equipe poderão se encarregar de traduzir outros itens, acelerando dessa forma o processo de tradução.</p>
    <p>Outras duas seções importantes do site do CS50 que só teremos que traduzir quando as turmas do curso em português estiverem em execução são a página de Atendimento ao Aluno ("Office Hours") e a página das Seções ("Sections"). Considerando que, teoricamente, os Atendimentos aos Alunos e as Seções acontecerão presencialmente nas instituições/organizações que ensinarão o CS50, as páginas com informações sobre estes dois itens pode ser organizadas de diferentes maneiras, como por exemplo:</p>
    <ul>
        <li>Uma página genérica contendo informações gerais sobre como as Seções/Atendimento ao Aluno funcionam e links para os vídeos das gravações desses eventos no nosso canal no YouTube</li>
        <li>Uma página com informações completas sobre as Seções/Atendimento ao Aluno organizadas por instituição/organização, incluindo informações detalhadas, contendo horários, local e o nome do instrutor, dos eventos acontecendo no IFES, no IFCE, e outras instituições. Além disso, incluir os links para os vídeos das gravações</li>
    </ul>
    <p>De qualquer maneira, as Office Hours e as Sections não são algo para se preocupar agora.</p>
    <h2>Como vamos traduzir?</h2>
    <ol id="lista-passos">
        <li>Recomendo a organização da tradução da seguinte maneira. Todos da equipe, que tenham concluido o curso, podem se oferecer para traduzir qualquer um dos itens, entretanto, a revisão da tradução deve ser feita por pelo menos 2 membros da equipe de tradução que sejam professores universitários da área da ciências da computação, para podermos assegurar que o conjunto da tradução seja conciso e coeso</li>
        <li>Vamos preparar também um guia de termos, que terá recomendações sobre quais palavras em português utilizar para traduzir quais termos em inglês. Por exemplo:</li>
        <ul>
            <li>Loops -> Comandos de Repetição / Estruturas de Repetição</li>
            <li>Conditional Statements -> Estruturas Condicionais / Estruturas de Seleção</li>
            <li>Prompt -> Linha de Comando</li>
            <ul>
                <li>Obs: É claro que para os termos acima, não é comum ficar confuso sobre que palavra usar em português, mas para outras palavras do inglês será importante termos um guia de termos</li>
            </ul>
        </ul>
        <li>Depois que você mandar um email com o link do seu certificado, juntamente com o nome do item que você quer traduzir, aguarde até que eu te confirme como sendo o responsável pela tradução do item. Dessa maneira, dois voluntários não irão desperdiçar tempo traduzindo o mesmo item. Envie o e-mail e aguarde a confirmação. Quando você receber o e-mail de confirmação, seu nome já estará presente entre colchetes no final do nome do item e o item estará marcado como "em tradução", indicado por [-]. Para enviar sua tradução, faça um "pull request" no arquivo da página em questão. Não é preciso enviar e-mail avisando sobre o pull request. ATENÇÃO: Só faça um pull request após você ter sido confirmado como responsável pela tradução</li>
        <li>Existem itens super importantes para o curso que não estão presentes no mapa de tradução. Eles são:</li>
        <ul>
            <li>Os "Walkthroughs", que até então estou chamando de "Passo-a-passo"</li>
            <li>Os vídeos e anotações das "Tracks", que incluem Desenvolvimento Web, Games, Android e iOS, e que até então estou chamando de "Especializações"</li>
        </ul>
        <p>Os Shorts e as Lectures não estão incluídos no mapa de tradução por que é esse material que eu estive traduzindo durante os últimos 15 meses. Cerca de três quartos dos Shorts, ou seja, a maioria, já estão traduzidos e cerca de um terço das transcrições das aulas já estão traduzidos. Além disso, eu já estou gravando os vídeos dos Shorts em casa, visto que montei um pequeno estúdio para o projeto. Em breve eu disponibilizo os links dos vídeos aqui, já produzidos e enviados para nosso canal no YouTube</p>
        <p>Os Walkthroughs não estão incluídos no mapa de tradução por que nós não temos acesso à transcrição desses vídeos. Já enviei um e-mail à equipe do CS50 para que eles providenciem esse material para nós</p>
        <p>Os Slides não estão incluídos no mapa de tradução pois apesar do fato de nós termos acesso a eles, os arquivos dos Slides no Google Apresentações não estão com modo de edição habilitado, o que dificulta a criação de slides traduzidos. Já enviei um e-mail à equipe do CS50 para que eles providenciem esse material para nós com opção de edição habilitada</p>
        <p>Os Quizzes não estão incluídos no mapa de tradução por que o site do CS50 está disponilibizando eles pouco a pouco. No momento em que escrevo este guia, há apenas os Quizzes das semanas 1 e 2 disponíveis. Vamos deixar para traduzir esses quando todos já estiverem disponíveis</p>
        <li>Existem outros itens/páginas do site que não estão no mapa de tradução. Assim que terminarmos de traduzir os itens acima que são imprecindíveis para a criação do curso em português, podemos discutir sobre a necessidade de traduzir esses itens/páginas extras</li>
    </ol>
    <p>Abaixo está a lista dos voluntários da equipe de tradução, assim como da equipe de revisão, juntamente com seus respectivos e-mails.</p>
    <h3>Voluntários para tradução:</h3>
    <ul>
        <li>Ramon (cs50emportugues@gmail.com)</li>
    </ul>
    <h3>Voluntários para edição/revisão (professores universitários):</h3>
    <ul>
        <li>Ainda não temos editores/redatores. Voluntarize-se enviando um e-mail para cs50emportugues@gmail.com !</li>
    </ul>
                        
    <h2 id="description"><a data-id="" href="https://cs50emportugues.github.io/#descricao">Descrição</a></h2>
    <p>Este curso é uma introdução intensiva às faculdades intelectuais da ciência da computação e a arte da programação. É um curso com ritmo rápido que demanda comprometimento de tempo e esforço substancial para que os estudantes possam ter sucesso. O curso ensina os estudantes a como pensar algoritmicamente e a resolver problemas de forma eficiente. Os tópicos incluem abstração, algoritmos, estruturas de dados, encapsulamento, gerenciamento de recursos, segurança, engenharia de software, e desenvolvimento web. O curso inclui as linguagens C, Python, SQL, e JavaScript, assim como CSS e HTML. As listas de problemas são inspiradas por áreas do mundo real como biologia, criptografia, finanças, investigação forense, e games. Este é o CS50.</p>
    -->
    
    <img id="logo" alt="Imagem do gato do CS50" src="{{ url_for('static', filename='cs50x/imagens/gato.png') }}">
                   
{% endblock %}